.header {
  background-image: url(../images/Galaxy.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  color: darkorange;
  text-align: center;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
